.admin-panel {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .top-section {
    display: flex;
    justify-content: space-between;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .card {
    background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
        /* justify-content: center; */
        width: 150px;
        height: 158px;
  }
  
  .pie-chart {
    width: 500px;
    height: 500px;
  }
  
  .total-users {
    text-align: center;
    margin: 20px 0;
  }
  
  .report-download, .user-search {
    text-align: center;
    margin: 20px 0;
  }
  
  .report-download input, .user-search input {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .report-download button, .user-search button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .styled-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .styled-table thead tr {
    background-color: #009879;
    color: blue;
    text-align: left;
  }
  
  .styled-table th, .styled-table td {
    padding: 12px 15px;
  }
  
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .pagination li {
    margin: 0 5px;
    cursor: pointer;
    overflow: hidden;
  }
  
  .pagination li a {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #007bff;
    text-decoration: none;
  }
  
  .pagination li.active a {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }
  
  .user-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .user-details {
    flex: 1;
    padding: 20px;
    background: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
  }
  
  .user-graph {
    flex: 1 1;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
  }
  
  .user-profile h2, .user-graph h3, .test-analysis h2 {
    text-align: center;
    align-items: center;
  }
  
  .user-profile p {
    margin: 5px 0;
  }
  
  .user-profile h3 {
    margin-top: 20px;
    text-align: center;
  }
  